<h1>Les races</h1>

<div>
  <h3 class="titreParagraphe">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </h3>
  <div class="paragraphe-container">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error eum
      tempora aliquam omnis alias vel voluptate iure tempore unde fugiat a
      doloribus similique, beatae sunt suscipit officiis sequi expedita est.
    </p>
    <div>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      <p class="parchemin-box">
        Chaque étape de la création d'un personnage est illustrée par un encart,
        où un joueur nommé Bob crée son personnage nain, Bruenor.
      </p>
    </div>
  </div>
</div>

<div>
  <h3 class="titreParagraphe">
    1) Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </h3>
  <div class="paragraphe-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas voluptatibus
      voluptatum aperiam minima maiores nam recusandae qui praesentium voluptas
      aspernatur tempore perferendis, cupiditate facere laudantium iure, cumque
      corporis ratione incidunt!
    </p>
    <div>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      <p class="parchemin-box">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        pariatur quasi sunt libero. Ut inventore beatae nam iste rerum velit.
        Earum quos ut aliquam, voluptatem architecto suscipit esse alias
        molestiae.
      </p>
    </div>
  </div>
</div>
<div>
  <h3 class="titreParagraphe">
    2) Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </h3>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique porro
      aliquam dignissimos, eveniet, officiis perferendis eius aspernatur fugit
      voluptatibus veritatis eum quos quibusdam neque sequi quisquam vitae
      molestias animi autem?
    </p>
  </div>
  <h4 class="sousTitre">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </h4>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, odio,
      ratione quo rerum perspiciatis et quos repellendus aliquid ab eos iste
      autem assumenda cumque repudiandae? Facilis reprehenderit voluptatem
      exercitationem dolor.
    </p>
    <h4 class="sousTitre">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </h4>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eius
        minima non incidunt placeat assumenda soluta quia ex architecto
        deserunt, atque repellat neque nulla possimus, sunt id ut distinctio
        natus?
      </p>
      <div>
        <h4 class="sousTitre">Bonus de maitrise</h4>
        <div class="paragraphe-container">
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
              libero saepe atque iste deserunt iure nemo, suscipit deleniti
              tempore quo blanditiis veniam accusamus praesentium recusandae
              iusto harum, accusantium ut! Alias.
            </p>
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
                quidem eaque saepe, fugit perspiciatis ea quas soluta in beatae
                rerum sequi nesciunt similique, aliquam tempora id doloribus a
                accusantium nam?
              </li>
              <li>Jets d'attaque pour les sorts que vous lancez</li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                dolores numquam, obcaecati, beatae aut ipsa officiis possimus
                atque blanditiis voluptatem eaque vel. Commodi quam iure aliquid
                dolor? Rem, repudiandae laboriosam!
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem
                atque dignissimos repellendus nam itaque nihil, perspiciatis
                expedita nisi. Molestias omnis ad minima modi delectus facere
                necessitatibus sit. Enim, temporibus minima?
              </li>
              <li>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque
                eum quidem, vitae unde dolorem atque ipsa sit, natus iusto aut
                autem culpa accusamus laboriosam asperiores fugit sequi iste
                optio esse.µ
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
                hic officiis nulla corporis perspiciatis, minima sapiente sequi
                fugiat eligendi, odit, nam architecto optio. Voluptate rem
                perspiciatis, voluptatum magnam tempore doloribus.
              </li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
              fuga placeat beatae hic perspiciatis quo, nesciunt minima, iste,
              praesentium repudiandae vitae. Voluptate aspernatur magnam
              praesentium cupiditate, unde distinctio mollitia placeat.
            </p>
          </div>

          <div>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
            <p class="parchemin-box">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt
              ab dolore laborum tempora, eum voluptatum accusamus repudiandae,
              officia saepe impedit blanditiis non? Fugit quasi, harum iure
              magni neque commodi nostrum!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <h3 class="titreParagraphe">
    3) Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </h3>
  <div class="paragraphe-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas voluptatibus
      voluptatum aperiam minima maiores nam recusandae qui praesentium voluptas
      aspernatur tempore perferendis, cupiditate facere laudantium iure, cumque
      corporis ratione incidunt!
    </p>
    <div>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      <p class="parchemin-box">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        pariatur quasi sunt libero. Ut inventore beatae nam iste rerum velit.
        Earum quos ut aliquam, voluptatem architecto suscipit esse alias
        molestiae.
      </p>
    </div>
  </div>
</div>
<div>
  <h3 class="titreParagraphe">
    4) Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </h3>
  <div class="paragraphe-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas voluptatibus
      voluptatum aperiam minima maiores nam recusandae qui praesentium voluptas
      aspernatur tempore perferendis, cupiditate facere laudantium iure, cumque
      corporis ratione incidunt!
    </p>
    <div>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      <p class="parchemin-box">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        pariatur quasi sunt libero. Ut inventore beatae nam iste rerum velit.
        Earum quos ut aliquam, voluptatem architecto suscipit esse alias
        molestiae.
      </p>
    </div>
  </div>
</div>
<div>
  <h3 class="titreParagraphe">
    5) Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </h3>
  <div class="paragraphe-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas voluptatibus
      voluptatum aperiam minima maiores nam recusandae qui praesentium voluptas
      aspernatur tempore perferendis, cupiditate facere laudantium iure, cumque
      corporis ratione incidunt!
    </p>
    <div>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      <p class="parchemin-box">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        pariatur quasi sunt libero. Ut inventore beatae nam iste rerum velit.
        Earum quos ut aliquam, voluptatem architecto suscipit esse alias
        molestiae.
      </p>
    </div>
  </div>
</div>
