<h1>Culture Halfeline</h1>

<div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sed ut
    dicta. Nisi esse harum rem perspiciatis aliquid assumenda, sed tempora.
    Aspernatur minima voluptatum nihil ducimus nulla, ipsum recusandae quisquam.
  </p>

  <img src="../../../../assets/Img/error4042.jpg" alt="image d'une relique DD5" class="imgDragon" />
</div>
<div>
  <h3 class="titreParagraphe">Plan matériel</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quibusdam
    ipsum illo, dolore consequatur natus ut dolorum temporibus perspiciatis
    earum saepe dolores amet veritatis consectetur nam esse recusandae dicta
    laborum.
  </p>
</div>

<div>
  <h3 class="titreParagraphe">La Féerie</h3>

  <img
    src="../../../../assets/Img/feerie.jpg"
    alt="image d'une relique DD5"
    class="right-image"
  />

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis sunt maxime explicabo distinctio? Libero incidunt at quas perspiciatis accusantium tenetur maiores quibusdam rerum, sit alias eaque fugiat. In, magni temporibus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quis dicta enim explicabo rem magnam nesciunt ab dolorem adipisci alias et, assumenda sequi consequuntur provident quidem quia libero dignissimos corporis?
  </p>
</div>
<div>
  <h3 class="titreParagraphe">La Gisombre</h3>

  <img
    src="../../../../assets/Img/gisombre.jpg"
    alt="image d'une relique DD5"
    class="right-image"
  />

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. A repudiandae, necessitatibus accusamus doloribus asperiores, maxime, soluta quas distinctio assumenda deleniti vel harum quae ullam? Est totam autem quasi quidem dolores!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste beatae rem officiis exercitationem nulla at omnis esse sit minima itaque consequuntur earum nemo, aliquid vero odio porro blanditiis nesciunt? Quaerat.
  </p>
</div>

<div>
  <h3 class="titreParagraphe">Plans transitifs</h3>
  <div class="paragraphe-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, dolorem corporis ab ipsum mollitia suscipit dolores minus deleniti dolor veritatis sunt expedita eum, impedit possimus reiciendis accusantium incidunt adipisci odit.
    </p>
    <div>
      <h4>Plans positifs et négatifs</h4>
      <p class="parchemin-box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, praesentium blanditiis. Mollitia ad dignissimos ullam, accusamus in quae, temporibus facilis nulla qui quos ducimus praesentium possimus quas quibusdam rem dolor.
      </p>
    </div>
  </div>
</div>

<div>
  <h3 class="titreParagraphe">Le plan éthéré</h3>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, totam aspernatur. Voluptas rem fugit dolore iusto enim aliquid iste minima hic commodi nemo eius facere recusandae, minus facilis similique ea?
  </p>
</div>
<div>
  <h3 class="titreParagraphe">Le plan astral</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, fugiat? Numquam labore veniam quod expedita aspernatur molestiae vitae nisi libero. Optio, officia soluta veritatis dolores beatae repudiandae temporibus velit totam?
  </p>
</div>
<div>
  <h3 class="titreParagraphe">Plans intérieurs</h3>

  <img
    src="../../../../assets/Img/elemental_chaos.jpg"
    alt="image d'une relique DD5"
    class="right-image"
  />

  <p>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quidem alias deserunt magnam, architecto eveniet consectetur quo error ipsam autem iure aspernatur sunt minus repellat, veniam temporibus hic quisquam unde?
  </p>
  <h3>Le Chaos élémentaire</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, sint. Doloribus exercitationem fuga distinctio, recusandae debitis, vel dolorum obcaecati magnam perferendis facere, totam aspernatur inventore laudantium quae quaerat unde minus.
  </p>
</div>

<div>
  <h3 class="titreParagraphe">Plans extérieurs</h3>

  <img
    src="../../../../assets/Img/astral.jpg"
    alt="image d'une relique DD5"
    class="right-image"
  />

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati commodi inventore saepe, rerum quis culpa ratione iure dolorem voluptas officiis id vel mollitia impedit sint tempora distinctio eos aliquam dolores.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quas a ut laborum consectetur ad eveniet maiores excepturi possimus, fuga, necessitatibus rerum nulla sed aut eum. Repellat magnam architecto accusantium?
  </p>
  <ul>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum vero, voluptatum debitis modi asperiores facere, beatae amet quia ea provident rem, magnam fugiat eos aliquid. Quas voluptatem nemo quis quidem.
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum id impedit molestiae distinctio voluptatem, saepe, tenetur consequuntur esse voluptas suscipit quod sit iusto vel quos molestias repellat nemo maiores laboriosam.
    </li>
    <li>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, eos eaque commodi provident numquam laudantium libero nisi doloremque in qui architecto fugit ea. Aliquam, nam voluptate? Aliquid modi ducimus alias?
    </li>
    <li>Terre des Bêtes (NB, CB). Nature sauvage et belle.</li>
    <li>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque minima repudiandae laborum accusantium nesciunt id. Qui, cumque officia nisi commodi maiores aperiam facilis sit doloribus mollitia, quo fugit magnam corrupti?
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, sapiente! Voluptatibus quod ex omnis ab incidunt facilis dolore aliquam eius unde? Modi sequi natus vel illum? Amet nobis vitae nulla.
    </li>
    <li>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem cupiditate eligendi aliquid quia magnam, rem assumenda officiis in, molestias, maxime quam officia. Velit, dicta! Laboriosam libero aut voluptatibus. Laborum, ipsum!
    </li>
    <li>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit officiis exercitationem accusantium ipsam fugit ducimus facilis sapiente voluptatibus asperiores recusandae tenetur quod nihil consectetur esse quos quibusdam, eos et ea.
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo rerum deleniti ex, ad temporibus obcaecati, possimus quidem debitis, tempora minus aperiam quibusdam quae commodi? Debitis beatae nostrum dolorem et veniam.
    </li>
    <li>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo provident dolor ducimus eaque amet dolorem, temporibus tempora vel excepturi nihil non molestiae cupiditate similique deleniti placeat a voluptatibus error maxime.
    </li>
    <li>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet dolore ad animi dolores, earum reprehenderit nulla sunt expedita, aspernatur sed ipsam id ullam deserunt voluptatem a facilis alias unde debitis.
    </li>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum harum explicabo doloremque minima soluta nobis nesciunt cupiditate, possimus adipisci quos delectus voluptatum nostrum tempora at ea distinctio dolorem, consequatur vel!
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, enim. Rerum, ratione temporibus! Ea porro aliquam fugit voluptas officiis facilis! Eum pariatur, quia aliquam dolorem et inventore tempora iure voluptatibus!
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit unde tempora obcaecati cum reprehenderit rem quisquam qui, molestiae minima possimus quam repellat esse voluptatibus, tempore nihil quaerat error numquam voluptates?
    </li>
    <li>Méchanus (LN). C'est le plan des modrons.</li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint impedit fugiat, enim culpa labore facilis ad vero praesentium consectetur deserunt laborum tempora nemo aliquid, suscipit odit velit temporibus asperiores nam.
    </li>
  </ul>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate facilis illum alias vitae perspiciatis, fugiat omnis officia commodi dolorem provident sequi, quasi corporis aperiam? Quia cupiditate eius facere nisi quidem.
  </p>
</div>
<div>
  <h3 class="titreParagraphe">Autres plans</h3>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos corporis rerum quia! Quasi, vero! Amet, saepe ea ratione dicta beatae repellat. Vero quas eius, alias nulla architecto non aperiam repudiandae?
  </p>
</div>
<div>
  <h3 class="titreParagraphe">Demi-plans</h3>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. In ex iste a itaque deleniti maxime quaerat vero laboriosam quidem consectetur! Natus earum consectetur consequuntur consequatur ipsa quas. Placeat, maiores earum!
  </p>
</div>

<div>
  <h3 class="titreParagraphe">Le Royaume lointain</h3>

  <img
    src="../../../../assets/Img/royaume_lointain.jpg"
    alt="image d'une relique DD5"
    class="right-image"
  />

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quas velit porro itaque. Voluptatibus placeat dolore temporibus consequatur. Ut, animi quidem. Hic vel ad dolores placeat atque, ipsa nihil aspernatur?
  </p>
</div>


