<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <span class="navbar-brand fs-3" href="#"
      >Donjon & Dragons 5
      <span class="d20-icon">
        <img
          class="imglogo"
          src="../../../assets/Img/logodd5.jpg"
          alt="Logo du site"
        />
      </span>
    </span>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/univers">Univers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/regles">Règles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aides-de-jeu">Aides de jeu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/builder">Builder character</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
