.navbar {
  position: relative; /* Position relative pour positionner les pseudo-éléments */
  background-color: black; /* Couleur de fond de la navbar */
  overflow: hidden; /* Pour cacher les parties des pseudo-éléments qui dépassent */
}

.navbar::before,
.navbar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red; /* Couleur des lignes rouges */
  top: 0;
  z-index: 1; /* Position au-dessus du contenu de la navbar */
}

.navbar::before {
  transform: rotate(
    -45deg
  ); /* Rotation pour la ligne diagonale vers la gauche */
}

.navbar::after {
  transform: rotate(
    45deg
  ); /* Rotation pour la ligne diagonale vers la droite */
}

.navbar-brand {
  position: relative; /* Assurer que le texte reste au-dessus des lignes */
  z-index: 2; /* Position au-dessus des pseudo-éléments */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
body {
  background: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.imglogo {
  max-width: 50px;
  max-height: 50px;
}
