.card-img-top {
  
  height: 300px; /* Hauteur fixe pour toutes les images */
  object-fit: cover; /* Assure que l'image couvre la zone spécifiée */
}
.card-img-top2 {
  margin-top: 2em;
  margin-left: 1.5em;
  margin-bottom: 2.6em;
  width: 90%;
  height: auto; /* Conserve les proportions */
}
