<app-caroussel></app-caroussel>

<!-- Card -->
<div class="row d-flex flex-row justify-content-center">
  <div class="card m-4" style="width: 18rem">
    <img
      class="card-img-top"
      src="assets/Img/pantheon.jpg"
      alt="pantheon Image"
    />
    <div class="card-body">
      <h5 class="card-title">L'Univers</h5>
      <p class="card-text">
        Pour en savoir plus sur l'univers Donjons & Dragons 5
      </p>
      <a class="btn btn-primary" routerLink="/univers/plans" fragment="top"
        >L'univers DD5</a>
    </div>
  </div>

  <div class="card m-4" style="width: 18rem">
    <img
      class="card-img-top"
      src="assets/Img/feerie.jpg"
      alt="pantheon Image"
    />
    <div class="card-body">
      <h5 class="card-title">Les Règles</h5>
      <p class="card-text">
        Pour en savoir plus sur les règles Donjons & Dragons 5
      </p>
      <a class="btn btn-primary" routerLink="/regles/creation"
        >L'univers DD5</a
      >
    </div>
  </div>

  <div class="card m-4" style="width: 18rem">
    <img
      class="card-img-top"
      src="assets/Img/FeuilleDePersonnageEtape.jpg"
      alt="pantheon Image"
    />
    <div class="card-body">
      <h5 class="card-title">Builder Character</h5>
      <p class="card-text">Outil D&D5 pour créer votre personnage.</p>
      <a class="btn btn-primary" routerLink="/builder/home"
        >Character Builder</a
      >
    </div>
  </div>

  <div class="card m-4" style="width: 18rem">
    <img
      class="card-img-top"
      src="assets/Img/sorcier.jpg"
      alt="pantheon Image"
    />
    <div class="card-body">
      <h5 class="card-title">Les Sorts</h5>
      <p class="card-text">Les sorts</p>
      <a class="btn btn-primary" routerLink="/regle/sorts">Les Sorts D&D5</a>
    </div>
  </div>
  <div class="card m-4" style="width: 18rem">
    <img
      class="card-img-top"
      src="assets/Img/construction.jpg"
      alt="pantheon Image"
    />
    <div class="card-body">
      <h5 class="card-title">donjons & dragons 5</h5>
      <p class="card-text">En construction</p>
      <a class="btn btn-primary">L'univers DD5</a>
    </div>
  </div>
</div>

<section class="container">
  <div class="col-7 row"></div>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui voluptates aut
    ipsam nostrum, quibusdam dignissimos nobis ratione commodi. Porro amet
    similique repellat provident debitis voluptatem adipisci earum saepe, unde
    sunt! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, atque
    laudantium, illum ratione quibusdam sit adipisci animi corporis tempora eum
    sunt! Ratione consequatur obcaecati rerum sequi est! Voluptatum, odio
    consequuntur? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Reprehenderit consequatur eveniet blanditiis sunt magnam suscipit. Soluta
    laudantium inventore magnam, omnis, magni atque amet ea, dolores rem
    deleniti ratione adipisci cum! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Quis laboriosam alias aperiam ipsa vel velit aliquam
    debitis saepe nihil neque eius aspernatur, harum maxime praesentium quaerat,
    dolorem, natus quibusdam fugit.
  </p>
</section>
