<app-caroussel></app-caroussel>

<!-- Card -->
<div class="row d-flex flex-row justify-content-center">
    
<div class="card m-4" style="width: 18rem;">
    <img class="card-img-top1" src="assets/Img/pantheon.jpg" alt="pantheon Image">
    <div class="card-body">
      <h5 class="card-title">Univers de donjons & dragons 5</h5>
      <p class="card-text">Pour en savoir plus sur l'univers Donjons & Dragons 5</p>
      <a href="#" class="btn btn-primary" routerLink="/univers/plans">L'univers DD5</a>
    </div>
  </div>

<div class="card m-4" style="width: 18rem;">
    <img class="card-img-top2" src="assets/Img/feerie.jpg" alt="pantheon Image">
    <div class="card-body">
      <h5 class="card-title">Univers de donjons & dragons 5</h5>
      <p class="card-text">Pour en savoir plus sur l'univers Donjons & Dragons 5</p>
      <a href="#" class="btn btn-primary" routerLink="/univers/pantheon">L'univers DD5</a>
    </div>
  </div>

  <div class="card m-4" style="width: 18rem;">
    <img class="card-img-top" src="assets/Img/FeuilleDePersonnageEtape.jpg" alt="pantheon Image">
    <div class="card-body">
      <h5 class="card-title">Outil : Character Builder </h5>
      <p class="card-text">Outil d&d5 pour créer votre personnage.</p>
      <a href="#" class="btn btn-primary" routerLink="/builder/home">Character Builder</a>
    </div>
  </div>

  <div class="card m-4" style="width: 18rem;">
    <img class="card-img-top" src="assets/Img/pantheon.jpg" alt="pantheon Image">
    <div class="card-body">
      <h5 class="card-title">Univers de donjons & dragons 5</h5>
      <p class="card-text">Pour en savoir plus sur l'univers Donjons & Dragons 5</p>
      <a href="#" class="btn btn-primary" routerLink="/univers/pantheon">L'univers DD5</a>
    </div>
  </div>
  <div class="card m-4" style="width: 18rem;">
    <img class="card-img-top" src="assets/Img/pantheon.jpg" alt="pantheon Image">
    <div class="card-body">
      <h5 class="card-title">Univers de donjons & dragons 5</h5>
      <p class="card-text">Pour en savoir plus sur l'univers Donjons & Dragons 5</p>
      <a href="#" class="btn btn-primary" routerLink="/univers/pantheon">L'univers DD5</a>
    </div>
  </div>

</div>
