<div class="carousel-wrapper">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/Img/carrousel1.jpg" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>Scénario</h3>
        <p>Nouveau scénario à venir.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/Img/carrousel2.jpg" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>Campagne</h3>
        <p>Nouvelle campagne à venir</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/Img/carrousel3.jpg" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>Les dragons</h3>
        <p>Venez voir le détail de ces créatures.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
