.caracteristiques-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.caracteristique {
  background-color: #f8f9fa; /* Background color for the rectangle */
  border: 1px solid #dee2e6; /* Border for the rectangle */
  width: 100px;/*calc(10.333% - 10px);  Adjust the width according to your layout */
  height: 100px;/*calc(17% - 10px);*/
  box-sizing: border-box;
}

.caracteristique h3 {
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
}

.caracteristique h3.selected {
  background-color: #d1ecf1; /* Different background color for selected element */
  border: 2px solid #0c5460; /* Different border for selected element */
  color: #0c5460; /* Different text color for selected element */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.rounded-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.next-button {
  background-color: #6c757d;
  border-color: #6c757d;
}

.next-button:hover {
  background-color: #5a6268;
  border-color: #5a6268;
}

.raceSelected h3 {
  border-bottom: 1px dashed black; /* Ligne pointillée noire en dessous du h3 */
  padding-bottom: 5px; /* Ajoute un peu d'espace entre le texte et la ligne */
}
.class{
  display: flex;
  flex-direction: column;
  height: 60vh;
}
.sourceDetail{
  margin-top: 20px;
  border-top: 1px dashed  #6c757d;
  font-size: 13px;
}
.my-icon {
  color: rgb(144, 24, 24);
}
.sourceDetail{
  margin-top: 20px;
  border-top: 1px dashed  #6c757d;
  font-size: 13px;
}