<h3>Choix de la race <i class="fas fa-home"></i></h3>

<div class="row">
  <div class="col-12">
    <nav class="navigation d-flex justify-content-center align-items-center">
      <fa-icon
        [icon]="['fas', 'circle-left']"
        class="fa-2x mx-3 my-icon"
        disabled
      ></fa-icon>
      <fa-icon
        [icon]="['fas', 'circle-right']"
        class="fa-2x mx-3"
        routerLink="/builder/class"
        (click)="addBuilderService()"
      ></fa-icon>
    </nav>
  </div>
</div>

<section class="class col-12 row">
  <div class="caracteristiques-container col-8">
    @if(IsLoaded){ @for(entity of listRaces;track $index){
    <div class="caracteristique">
      <h3
        [class.selected]="entity.race.race === raceFocus.race"
        (click)="select(entity.race, entity.languages)"
      >
        {{ entity.race.race }}
      </h3>
    </div>
    } }@else {
    <p>
      Désolé mais le character builder ne fonctionne pas pour le moment,
      veuillez revenir plus tard.
    </p>
    }
  </div>
  <div *ngIf="raceFocus != undefined">
    <h3>{{ raceFocus.race }}</h3>
    <div class="details">
      <p *ngIf="raceFocus.strenghtBonus > 0">
        <strong>Bonus de force :</strong> +{{ raceFocus.strenghtBonus }}
      </p>
      <p *ngIf="raceFocus.dexterityBonus > 0">
        <strong>Bonus de dextérité :</strong> +{{ raceFocus.dexterityBonus }}
      </p>
      <p *ngIf="raceFocus.intelligenceBonus > 0">
        <strong>Bonus d'intelligence :</strong> +{{
          raceFocus.intelligenceBonus
        }}
      </p>
      <p *ngIf="raceFocus.wisdomBonus > 0">
        <strong>Bonus de sagesse :</strong> +{{ raceFocus.wisdomBonus }}
      </p>
      <p *ngIf="raceFocus.charismasBonus > 0">
        <strong>Bonus de charisme :</strong> +{{ raceFocus.charismasBonus }}
      </p>
      <p *ngIf="raceFocus.constitutionBonus > 0">
        <strong>Bonus de constitution :</strong> +{{
          raceFocus.constitutionBonus
        }}
      </p>
      <p><strong>Vitesse :</strong> {{ raceFocus.speed }}</p>
      <p><strong>Taille :</strong> {{ raceFocus.size }}</p>
      <p *ngFor="let langue of raceFocus.langue">
        <strong>Langue :</strong> {{ langue.language }}
      </p>
      <p *ngIf="raceFocus.source" class="sourceDetail">
        {{ raceFocus.source.source }}
      </p>
    </div>
  </div>
</section>
