.caracteristiques-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.caracteristique {
  background-color: #f8f9fa; /* Background color for the rectangle */
  border: 1px solid #dee2e6; /* Border for the rectangle */
  width: calc(10.333% - 10px); /* Adjust the width according to your layout */
  height: calc(17% - 10px);
  box-sizing: border-box;
}

.caracteristique h3 {
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
}
.caracteristique h3.selected {
  background-color: rgb(158, 191, 237);
}
