<h1>Création de personnages</h1>

<div>
  <h3 class="titreParagraphe">Plans transitifs</h3>
  <div class="paragraphe-container">
    <p>
      La première étape d'une partie de Dungeons & Dragons est d'imaginer et de
      se créer son propre personnage. Un personnage est défini par des
      statistiques de jeu, des accroches de roleplay, et par votre imagination.
      Vous choisissez une race (comme humain ou halfelin) et une classe (comme
      guerrier ou magicien). Vous inventez aussi la personnalité, l'apparence et
      l'histoire de votre personnage. Une fois cela achevé, votre personnage est
      votre avatar dans le monde de Dungeons & Dragons. Avant de vous plonger
      dans la première étape ci-après, imaginez le type d'aventurier que vous
      voulez jouer. Vous pouvez être un courageux combattant, un roublard
      furtif, un clerc dévot ou un mage flamboyant. Ou encore vous pouvez
      choisir d'interpréter un personnage moins conventionnel, comme un robuste
      roublard aimant le combat rapproché, ou un tireur d'élite préférant
      abattre ses cibles de loin. Vous aimez la littérature fantasy impliquant
      des nains ou des elfes ? Essayez-vous à interpréter un personnage d'une de
      ces races. Vous voulez que votre avatar soit l'aventurier le plus coriace
      à la table de jeu ? Regardez donc la classe de guerrier. Si vous ne savez
      pas par où commencer, jetez un œil aux illustrations pour trouver votre
      inspiration. Une fois que vous avez imaginé votre personnage, suivez les
      étapes ci-après dans l'ordre, en faisant les choix qui illustrent le mieux
      votre personnage. Le concept de votre personnage pourra évoluer en
      fonction de vos choix au fil de la création. Le plus important est de
      créer un personnage que vous aurez plaisir à jouer. Au travers de ce
      chapitre, nous utilisons le terme feuille de personnage pour indiquer
      toute solution qui vous permet de prendre note des éléments de votre
      personnage, que ce soit une feuille de personnage à proprement parler, un
      fichier informatique ou un bloc-notes classique. Une feuille de personnage
      officielle D&D est un bon point de départ, pour savoir quoi noter et
      comment l'utiliser pendant le jeu.
    </p>
    <div>
      <h4>CRÉATION DE BRUENOR</h4>
      <p class="parchemin-box">
        Chaque étape de la création d'un personnage est illustrée par un encart,
        où un joueur nommé Bob crée son personnage nain, Bruenor.
      </p>
    </div>
  </div>
</div>

<div>
  <h3 class="titreParagraphe">1) Choisir une race</h3>
  <div class="paragraphe-container">
    <p>
      Tout personnage appartient à une race, l'une des nombreuses espèces
      intelligentes du monde de D&D. Les races les plus communes pour les
      personnages joueurs sont les elfes, les halfelins, les humains et les
      nains. Certaines races sont divisées en sous-races, comme les nains des
      montagnes ou les elfes des bois. Le chapitre Races fournit de plus amples
      informations sur celles-ci.Le choix de la race est une contribution
      importante à l'identité de votre personnage, indiquant son apparence
      générale et les talents naturels communs à ses membres, qu'ils soient
      culturels ou ancestraux. La race de votre personnage lui donne des traits
      raciaux, comme des sens spéciaux, la maîtrise de certaines armes ou
      certains outils, la maîtrise de certaines compétences, ou la capacité à
      utiliser certains sorts mineurs. Ces traits s'accordent parfois avec les
      aptitudes de certaines classes (voir étape 2). Par exemple le trait racial
      des halfelins pied-légers en font des roublards d'exceptions, et les
      haut-elfes ont tendance à être de puissants magiciens. Quelquefois, jouer
      contre nature peut aussi être plaisant. Par exemple, un paladin halfelin
      ou un magicien nain des montagnes sont des personnages inhabituels, mais
      ils peuvent être mémorables. Votre race modifie aussi une ou plusieurs des
      caractéristiques de votre personnage (voir étape 3). Notez ces
      modificateurs et souvenez-vous de les appliquer. Notez les traits accordés
      par votre race sur la feuille de personnage. N'oubliez pas aussi de noter
      les langues que vous connaissez, ainsi que votre vitesse de base.
    </p>
    <div>
      <h4>CRÉATION DE BRUENOR, étape 1</h4>
      <p class="parchemin-box">
        Bob décide qu'un nain des montagnes bourru représenterait bien le
        personnage qu'il veut jouer. Il note tous les traits raciaux des nains
        sur sa feuille de personnage, ainsi que sa vitesse de base de 7,50
        mètres et les langues qu'il connait : le commun et le nain.
      </p>
    </div>
  </div>
</div>
<div>
  <h3 class="titreParagraphe">2) Choisir une classe</h3>
  <div>
    <p>
      Tout aventurier est membre d'une classe. Une classe dépeint la vocation
      d'un personnage, quels talents spécifiques il possède, et les tactiques
      les plus couramment employées par ses membres lors d'une exploration de
      donjons, pour combattre les monstres, ou s'engager dans d'intenses
      négociations. Le chapitre Classes fournit de plus amples informations sur
      celles-ci. Votre personnage bénéficie d'un certain nombre d'avantages
      découlant du choix de la classe. Nombre de ces avantages sont des
      <b>capacités de classes</b> – des aptitudes (comme lancer des sorts) qui
      différencient votre personnage des membres des autres classes. Vous gagnez
      aussi un certain nombre de <b>maîtrises</b> : pour des armures, des armes,
      des compétences, des jets de sauvegarde et quelquefois des outils. Vos
      maîtrises définissent la plupart des choses pour lesquelles votre
      personnage est particulièrement compétent, de l'usage de certaines armes à
      savoir raconter des mensonges convaincants. Sur votre feuille de
      personnage, notez toutes les aptitudes octroyées par votre classe au
      niveau 1.
    </p>
  </div>
  <h4 class="sousTitre">Niveau</h4>
  <div>
    <p>
      Généralement, un personnage débute au niveau 1 et progresse en niveau en
      partant à l'aventure et en gagnant des points d'expérience (PX). Au niveau
      1, un personnage est inexpérimenté dans le monde des aventuriers, bien
      qu'il ait pu être un soldat ou un pirate et avoir déjà affronté le danger
      par le passé. Débuter au niveau 1 marque l'entrée de votre personnage dans
      la vie d'aventurier. Si vous avez déjà une expérience du jeu, ou si vous
      rejoignez une campagne existante, votre MD peut décider de vous faire
      débuter à un niveau plus élevé, considérant que votre personnage a déjà
      vécu des aventures harassantes. Notez votre niveau sur votre feuille de
      personnage. Si vous démarrez à un niveau supérieur au premier, notez les
      aptitudes supplémentaires de votre classe pour les niveaux supérieurs.
      Notez de même vos points d'expérience. 0 au niveau 1, et le minimum requis
      pour un niveau supérieur (voir Au-delà du niveau 1).
    </p>
    <h4 class="sousTitre">Points de vie et Dés de vie</h4>
    <div>
      <p>
        Les points de vie de votre personnage définissent sa résistance au
        combat ou dans toutes autres situations dangereuses. Vos points de vie
        sont déterminés par votre dé de vie (raccourcis pour Dé de points de
        vie). Au niveau 1, votre personnage possède 1 dé de vie, et le type de
        ce dé est défini par votre classe. Vos points de vie de départ sont
        égaux au maximum de votre dé de vie, comme indiqué dans la description
        de votre classe (vous ajouterez aussi votre modificateur de
        Constitution, qui sera déterminé à l'étape 3). Cette valeur finale est
        aussi votre maximum de points de vie. Notez vos points de vie sur votre
        feuille de personnage. De même, notez le type de votre dé de vie, et le
        nombre de dés de vie que vous possédez. Après un repos, vous pouvez
        dépenser des dés de vie pour regagner des points de vie (voir Repos).
      </p>
      <div>
        <h4 class="sousTitre">Bonus de maitrise</h4>
        <div class="paragraphe-container">
          <div>
            <p>
              Le tableau dans la description de votre classe indique votre bonus
              de maîtrise, qui est de +2 au niveau 1. Ce bonus s'applique à de
              nombreuses valeurs que vous noterez sur votre feuille de
              personnage :
            </p>
            <ul>
              <li>Jets d'attaque utilisant une arme que vous maîtrisez</li>
              <li>Jets d'attaque pour les sorts que vous lancez</li>
              <li>
                Jets de caractéristique pour les compétences que vous maîtrisez
              </li>
              <li>
                Jets de caractéristique pour l'usage des outils que vous
                maîtrisez
              </li>
              <li>Jets de sauvegarde dont vous avez la maîtrise</li>
              <li>
                Degré de difficulté des jets de sauvegarde pour résister aux
                sorts que vous lancez (voir les explications dans la description
                des classes de lanceurs de sorts)
              </li>
            </ul>
            <p>
              Votre classe détermine vos maîtrises d'armes, de jets de
              sauvegarde, de certaines de vos compétences et usages d'outils.
              Votre historique vous donne d'autres maîtrises de compétences et
              d'outils, ainsi que certaines races. Notez toutes ces maîtrises
              ainsi que votre bonus de maîtrise sur votre feuille de personnage.
              Votre bonus de maîtrise ne peut s'appliquer plus d'une fois à un
              même jet de dés ou à un autre nombre. Parfois, votre bonus de
              maîtrise peut être modifié (doublé ou divisé par deux, par
              exemple) avant d'être pris en compte. Si une situation semble
              suggérer que vous pouvez appliquer ou modifier votre bonus plus
              d'une fois, n'en tenez pas compte. Le bonus de maîtrise ne
              s'applique, ne se multiplie ou ne se divise qu'une seule fois.
            </p>
          </div>

          <div>
            <h4>CRÉATION DE BRUENOR, étape 2</h4>
            <p class="parchemin-box">
              Bob s'imagine Bruenor chargeant dans un combat avec une hache et
              un casque dont l'une des cornes est manquante. Il fait de Bruenor
              un guerrier, et note sur sa feuille de personnage les capacités et
              les maîtrises de son personnage au niveau 1. En tant que guerrier
              de niveau 1, Bruenor a 1 dé de vie, un d10, et débute avec un
              total de points de vie égal à 10 + son modificateur de
              Constitution, qu'il indiquera après avoir défini la Constitution
              de Bruenor à l'étape 3. Bob note aussi le bonus de maîtrise de +2
              qui correspond à un personnage de niveau 1.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <h3 class="titreParagraphe">3) Déterminer les valeurs de caractéristiques</h3>

  <p>
    La majorité des actions de votre personnage dépend de l'une de ses six
    caractéristiques : Force, Dextérité, Constitution, Intelligence, Sagesse et
    Charisme. Chaque caractéristique a une valeur que vous devez noter sur votre
    feuille de personnage. Les six caractéristiques et leurs utilisations en jeu
    sont décrites dans le chapitre Utiliser les caractéristiques. La table
    ci-dessous est une référence rapide pour indiquer quelles qualités sont
    évaluées par chaque caractéristique, quelles races augmentent quelles
    caractéristiques, et quelles sont les caractéristiques importantes pour
    chaque classe.
  </p>
  <div class="caracteristiques-container">
    <div class="caracteristique">
      <h3>Force</h3>
      <div class="details">
        <p>
          <strong>Mesure :</strong> Importante pour la puissance physique,
          l'aptitude athlétique naturelle.
        </p>
        <p>
          <strong>Modificateurs raciaux :</strong> Barbare, guerrier, paladin
        </p>
        <p>
          <strong>Races :</strong> Nain des montagnes (+2), Demi-orc (+2),
          Drakéide (+2), Humain (+1)
        </p>
      </div>
    </div>
    <div class="caracteristique">
      <h3>Dextérité</h3>
      <div class="details">
        <p>
          <strong>Mesure :</strong> Importante pour l'agilité, les réflexes,
          l'équilibre.
        </p>
        <p><strong>Modificateurs raciaux :</strong> Moine, rôdeur, roublard</p>
        <p>
          <strong>Races :</strong> Elfe (+2), Halfelin (+2), Humain (+1), Gnome
          des forêts (+1)
        </p>
      </div>
    </div>
    <div class="caracteristique">
      <h3>Constitution</h3>
      <div class="details">
        <p>
          <strong>Mesure :</strong> Importante pour la santé, l'endurance, la
          force vitale.
        </p>
        <p><strong>Modificateurs raciaux :</strong> Toutes les classes</p>
        <p>
          <strong>Races :</strong> Nain (+2), Humain (+1), Halfelin robuste
          (+1), Demi-orc (+1), Gnome des roches (+1)
        </p>
      </div>
    </div>
    <div class="caracteristique">
      <h3>Intelligence</h3>
      <div class="details">
        <p>
          <strong>Mesure :</strong> Importante pour l'acuité mentale, le
          raisonnement, la mémoire.
        </p>
        <p><strong>Modificateurs raciaux :</strong> Magicien</p>
        <p>
          <strong>Races :</strong> Gnome (+2), Haut-elfe (+1), Humain (+1),
          Tieffelin (+1)
        </p>
      </div>
    </div>
    <div class="caracteristique">
      <h3>Sagesse</h3>
      <div class="details">
        <p>
          <strong>Mesure :</strong> Importante pour la perception, l'intuition,
          la perspicacité.
        </p>
        <p><strong>Modificateurs raciaux :</strong> Clerc, druide</p>
        <p>
          <strong>Races :</strong> Elfe des bois (+1), Humain (+1), Nain des
          collines (+1)
        </p>
      </div>
    </div>
    <div class="caracteristique">
      <h3>Charisme</h3>
      <div class="details">
        <p>
          <strong>Mesure :</strong> Importante pour la force de personnalité,
          l'éloquence, le leadership.
        </p>
        <p>
          <strong>Modificateurs raciaux :</strong> Barde, ensorceleur,
          occultiste
        </p>
        <p>
          <strong>Races :</strong> Demi-elfe (+2), Tieffelin (+2), Elfe noir
          (+1), Halfelin pied-léger (+1), Humain (+1), Drakéide (+1)
        </p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="paragraphe-container">
    <div>
      <p>
        Vous déterminez les six valeurs de caractéristiques de votre personnage
        aléatoirement. Lancez 4d6 et notez la somme des trois meilleurs dés.
        Faites cinq autres lancers, pour avoir ainsi six nombres. Si vous voulez
        aller plus vite, ou si vous n'aimez pas le côté aléatoire pour
        déterminer les valeurs de caractéristiques, utilisez la série suivante :
        15, 14, 13, 12, 10, 8. Maintenant, affectez et notez chaque nombre en
        face de l'une des six caractéristiques, afin d’avoir une valeur en
        Force, Dextérité, Constitution, Intelligence, Sagesse et Charisme. Puis
        appliquez les modificateurs de caractéristiques de votre race.
        Déterminez ensuite vos modificateurs de caractéristiques en vous
        référant à la table ci-dessous. Pour calculer la valeur d'un
        modificateur sans utiliser la table, soustrayez 10 à la valeur, et
        divisez le résultat par 2, en conservant la partie entière inférieure.
        Inscrivez chaque modificateur à côté de la caractéristique
        correspondante.
      </p>

      <div class="container">
        <table class="table table-bordered table-striped small-table">
          <thead>
            <tr>
              <th>Valeur de Caractéristique</th>
              <th>Modificateur</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>-5</td>
            </tr>
            <tr>
              <td>2-3</td>
              <td>-4</td>
            </tr>
            <tr>
              <td>4-5</td>
              <td>-3</td>
            </tr>
            <tr>
              <td>6-7</td>
              <td>-2</td>
            </tr>
            <tr>
              <td>8-9</td>
              <td>-1</td>
            </tr>
            <tr>
              <td>10-11</td>
              <td>+0</td>
            </tr>
            <tr>
              <td>12-13</td>
              <td>+1</td>
            </tr>
            <tr>
              <td>14-15</td>
              <td>+2</td>
            </tr>
            <tr>
              <td>16-17</td>
              <td>+3</td>
            </tr>
            <tr>
              <td>18-19</td>
              <td>+4</td>
            </tr>
            <tr>
              <td>20-21</td>
              <td>+5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h4>CRÉATION DE BRUENOR, étape 3</h4>
      <p class="parchemin-box">
        Bob décide d'utiliser la distribution de valeurs standards (15, 14, 13,
        12, 10, 8) pour les caractéristiques de Bruenor. Puisque c'est un
        guerrier, il met la plus haute valeur, 15, en Force. La valeur suivante,
        14, en Constitution. Bruenor pourrait être un casse-cou, mais Bob veut
        que le nain soit plus vieux, plus sage, et bon leader, il place donc de
        bonnes valeurs en Sagesse et Charisme. Après avoir fait les
        modifications dues à la race (augmentation de la Constitution et de la
        Force de +2), les valeurs et modificateurs de caractéristiques de
        Bruenor sont les suivants : Force 17 (+3), Dextérité 10 (+0),
        Constitution 16 (+3), Intelligence 8 (-1), Sagesse 13 (+1), Charisme 12
        (+1). Bob finalise les points de vie de Bruenor : 10 + son modificateur
        de Constitution (+3) pour un total de 13 points de vie.
      </p>
    </div>
  </div>
</div>
<div>
  <h3 class="titreParagraphe">
    Variante : Personnalisation des valeurs de caractéristiques
  </h3>

  <p>
    Si votre MD l'autorise, vous pouvez utiliser la méthode suivante pour
    déterminer vos valeurs de caractéristiques. Cette méthode vous permet de
    construire un personnage en choisissant une valeur pour chaque
    caractéristique. Vous avez 27 points à répartir dans vos caractéristiques.
    Le coût de chaque valeur est indiqué sur la table ci-dessous. Par exemple,
    une valeur de 14 coûte 7 points. En utilisant cette méthode, 15 est la plus
    haute valeur achetable avant d'appliquer les modificateurs raciaux, et vous
    ne pouvez avoir une valeur inférieure à 8. Cette méthode vous permet de
    créer une série de caractéristiques avec 3 valeurs élevées et 3 valeurs
    faibles (15, 15, 15, 8, 8, 8), une série où les valeurs sont quasiment
    égales (13, 13, 13, 12, 12, 12), ou toute autre série entre ces deux
    extrêmes.
  </p>
</div>
<div>
  <div class="paragraphe-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <table class="table table-bordered table-striped tiny-table">
            <thead>
              <tr>
                <th class="text-center">Valeur</th>
                <th class="text-center">Coût</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">8</td>
                <td class="text-center">0</td>
              </tr>
              <tr>
                <td class="text-center">9</td>
                <td class="text-center">1</td>
              </tr>
              <tr>
                <td class="text-center">10</td>
                <td class="text-center">2</td>
              </tr>
              <tr>
                <td class="text-center">11</td>
                <td class="text-center">3</td>
              </tr>
              <tr>
                <td class="text-center">12</td>
                <td class="text-center">4</td>
              </tr>
              <tr>
                <td class="text-center">13</td>
                <td class="text-center">5</td>
              </tr>
              <tr>
                <td class="text-center">14</td>
                <td class="text-center">7</td>
              </tr>
              <tr>
                <td class="text-center">15</td>
                <td class="text-center">9</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      <h4>Construction Rapide</h4>
      <p class="parchemin-box">
        Chaque description de classe comporte un encart offrant des suggestions
        pour construire rapidement un personnage de la classe concernée,
        indiquant comment attribuer vos plus hautes valeurs de caractéristiques,
        un historique adapté à la classe, et une liste des sorts de départ si
        besoin.
      </p>
    </div>
  </div>
</div>
<div>
  <h3 class="titreParagraphe">4) Décrire son personnage</h3>
  <div class="paragraphe-container">
    <p>
      Une fois déterminée la base de jeu de votre personnage, il est temps de
      l'étoffer et de lui donner « vie ». Votre personnage a besoin d'un nom.
      Passez quelques instants à réfléchir à quoi il ressemble et comment il se
      comporte. En utilisant les informations du chapitre Personnalité et
      Historique, vous pouvez façonner l'apparence physique et les traits de
      personnalités de votre personnage. Choisissez son alignement (le compas
      moral qui guide ses décisions), et ses idéaux. Identifiez également ce à
      quoi votre personnage tient le plus, les liens, et les défauts qui
      pourraient un jour l'ébranler. L'historique de votre personnage définit
      son histoire, son occupation habituelle, et sa place dans le monde de D&D.
      Votre MD peut vous proposer d'autres historiques en plus que ceux décrits
      ici, et peut éventuellement travailler avec vous pour construire un
      historique à la mesure de votre concept de personnage. Un historique donne
      à votre personnage une aptitude spécifique et la maîtrise de deux
      compétences, et éventuellement un accès à des langues additionnelles ou la
      maîtrise de certains outils. Notez toutes ces informations sur la feuille
      de personnages.
    </p>

    <div>
      <h4>CRÉATION DE BRUENOR, ÉTAPE 4</h4>
      <p class="parchemin-box">
        Bob continu de remplir la feuille de Bruenor : son nom, son genre
        (homme), sa taille, son poids et son alignement (Loyal Bon). Sa bonne
        Force et sa haute Constitution suggèrent qu'il est en bonne santé,
        athlétique, alors que son Intelligence plus faible indique un manque
        d'attention. Bob décide que Bruenor descend d'une noble lignée, mais que
        son clan fut chassé de ses terres dans la jeunesse du nain. Il a grandit
        en travaillant comme forgeron dans un village éloigné d'Icewind Dale.
        Mais Bruenor a une destiné héroïque – il doit reconquérir ses terres –
        donc Bob choisit l'historique héros du peuple. Il note les maîtrises et
        les aptitudes spéciales conférées par cet historique. Bob a une idée
        assez précise de la personnalité de Bruenor, il ignore donc les traits
        de personnalités indiqués dans l'historique, et note plutôt que Bruenor
        est un nain attentionné et sensible qui aime ses amis et ses alliés,
        mais qu'il cache ce cœur tendre derrière un comportement bourru et
        agressif. Il choisit l'idéal d'Équité dans la liste de l'historique,
        indiquant ainsi que Bruenor pense que personne n'est au-dessus des lois.
        De par son histoire, le lien de Bruenor est évident : il souhaite un
        jour reprendre Mithril Hall, sa terre natale, au dragon des ombres qui
        en a chassé les nains. Son défaut est lié à sa nature attentionnée - il
        a un préjugé favorable envers les orphelins et les âmes rétives, et il
        montre parfois de la miséricorde sans être sûr du résultat.
      </p>
    </div>
  </div>
</div>
