<h3>Choix de l'historique du personnage</h3>

<div class="row">
  <div class="col-12">
    <nav class="navigation d-flex justify-content-center align-items-center">
      <fa-icon
        [icon]="['fas', 'circle-left']"
        class="fa-2x mx-3"
        routerLink="/builder/class"
      ></fa-icon>
      <fa-icon
        [icon]="['fas', 'circle-right']"
        class="fa-2x mx-3"
        routerLink="/builder/caracs"
        (click)="addBackground()"
      ></fa-icon>
    </nav>
  </div>
</div>

<section class="class row">
  <div class="caracteristiques-container col-7">
    @if(IsLoaded) { @for(entity of listBackground; track $index) {
    <div class="caracteristique">
      <h3
        [class.selected]="entity.backgrounds === backgroundFocus"
        (click)="select(entity.backgrounds, entity.skillsBackground)"
      >
        {{ entity.backgrounds.background }}
      </h3>
    </div>
    } } @else {
    <p>
      Désolé mais le character builder ne fonctionne pas pour le moment,
      veuillez revenir plus tard.
    </p>
    }
  </div>
  <div class="classSelected col-5">
    @if(backgroundFocus != undefined) {
    <h3>{{ backgroundFocus.background }}</h3>
    <p><strong>Capacité : </strong> {{ backgroundFocus.feature }}({{backgroundFocus.featureDescription}})</p>
    <p><strong>Choix de langues : </strong> {{ backgroundFocus.languageNumber }}</p>
    <p><strong>Choix de langues : </strong> {{ backgroundFocus.languageNumber }}</p>
    <p><strong>Nombre de skill(s) : </strong> {{ backgroundFocus.skillsBackground.length }}</p>
    @if(backgroundFocus.skillsBackground.length > 0) {
    
      @for(skill of backgroundFocus.skillsBackground; track $index) {
      
        -{{ skill.skill }}
      
      }

  
    
    } }
  </div>
</section>

