<h1>Panthéon</h1>

<div>
  <img
    src="../../../../assets/Img/pantheon.jpg"
    alt="image d'une relique DD5"
    class="right-image"
  />

  <p>
    La religion est une partie importante de la vie dans les mondes de D&D.
    Lorsque des dieux parcourent le monde, des clercs canalisent la puissance
    divine, des sectes perverses effectuent de sombres sacrifices dans des sites
    souterrains et des paladins se dressent contre l'obscurité, il est difficile
    d'être sceptique au sujet des divinités et de nier leur existence. Beaucoup
    de personnes dans les mondes de D&D adorent des dieux différents, à
    différents moments et en différentes circonstances. On prie Sunie pour avoir
    de la chance en amour, on fait une offrande à Waukyne avant de partir pour
    le marché, et on prie pour apaiser Talos quand une violente tempête souffle,
    tout cela durant la même journée. Nombreux sont toutefois ceux qui ont un
    favori parmi les dieux, et certains se consacrent entièrement à un seul
    dieu, servant généralement comme clerc ou champion des idéaux de ce dieu.
    Chaque monde du multivers de D&D possède son propre panthéon de divinités.
    Le panthéon décrit ici est celui des Royaumes Oubliés pour D&D 5. Des
    dizaines de divinités sont ainsi vénérées, adorées, et craintes à travers le
    monde des Royaumes Oubliés. Au moins trente divinités y sont largement
    connues à travers tout le continent, et bien d'autres sont adorées au niveau
    local, par des tribus, de petits cultes ou certaines sectes de grands
    temples religieux.
  </p>
</div>
<div class="containerTable">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Dieu</th>
        <th>Alignement</th>
        <th>Domaines suggérés</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <td>Aurile, déesse de l'hiver</td>
        <td>NM</td>
        <td>Nature, Tempête</td>
      </tr>
      <tr class="table-success">
        <td>Azouth, dieu des magiciens</td>
        <td>LN</td>
        <td>Savoir</td>
      </tr>
      <tr class="table-danger">
        <td>Baine, dieu de la tyrannie</td>
        <td>LM</td>
        <td>Guerre</td>
      </tr>
      <tr class="table-danger">
        <td>Beshaba, déesse de la malchance</td>
        <td>CM</td>
        <td>Duperie</td>
      </tr>
      <tr class="table-danger">
        <td>Bhaal, dieu du meurtre</td>
        <td>NM</td>
        <td>Mort</td>
      </tr>
      <tr class="table-success">
        <td>Chauntéa, déesse de l'agriculture</td>
        <td>NB</td>
        <td>Vie</td>
      </tr>
      <tr class="table-danger">
        <td>Cyric, dieu du mensonge</td>
        <td>CM</td>
        <td>Duperie</td>
      </tr>
      <tr class="table-success">
        <td>Déneïr, dieu de l'écriture</td>
        <td>NB</td>
        <td>Savoir</td>
      </tr>
      <tr class="table-success">
        <td>Eldath, déesse de la paix</td>
        <td>NB</td>
        <td>Nature, Vie</td>
      </tr>
      <tr>
        <td>Gond, dieu de l'artisanat</td>
        <td>N</td>
        <td>Savoir</td>
      </tr>
      <tr class="table-success">
        <td>Heaume, dieu de la protection</td>
        <td>LN</td>
        <td>Lumière, Vie</td>
      </tr>
      <tr class="table-success">
        <td>Ilmater, dieu de l'endurance</td>
        <td>LB</td>
        <td>Vie</td>
      </tr>
      <tr class="table-success">
        <td>Kélemvor, dieu des morts</td>
        <td>LN</td>
        <td>Mort</td>
      </tr>
      <tr class="table-success">
        <td>Lathandre, dieu de la naissance et du renouveau</td>
        <td>NB</td>
        <td>Lumière, Vie</td>
      </tr>
      <tr>
        <td>Leira, déesse de l'illusion</td>
        <td>CN</td>
        <td>Duperie</td>
      </tr>
      <tr class="table-success">
        <td>Lliira, déesse de la joie</td>
        <td>CB</td>
        <td>Vie</td>
      </tr>
      <tr class="table-danger">
        <td>Loviatar, déesse de la souffrance</td>
        <td>LM</td>
        <td>Mort</td>
      </tr>
      <tr class="table-success">
        <td>Mailikki, déesse des forêts</td>
        <td>NB</td>
        <td>Nature</td>
      </tr>
      <tr class="table-danger">
        <td>Malar, dieu de la chasse</td>
        <td>CM</td>
        <td>Nature</td>
      </tr>
      <tr>
        <td>Mask, dieu des voleurs</td>
        <td>CN</td>
        <td>Duperie</td>
      </tr>
      <tr class="table-success">
        <td>Milil, dieu de la poésie et des chants</td>
        <td>NB</td>
        <td>Lumière</td>
      </tr>
      <tr class="table-danger">
        <td>Myrkul, dieu de la mort</td>
        <td>NM</td>
        <td>Mort</td>
      </tr>
      <tr class="table-success">
        <td>Mystra, déesse de la magie</td>
        <td>NB</td>
        <td>Savoir</td>
      </tr>
      <tr>
        <td>Oghma, dieu de la connaissance</td>
        <td>N</td>
        <td>Savoir</td>
      </tr>
      <tr class="table-success">
        <td>Savras, dieu de la divination et du destin</td>
        <td>LN</td>
        <td>Savoir</td>
      </tr>
      <tr class="table-success">
        <td>Séluné, déesse de la lune</td>
        <td>CB</td>
        <td>Savoir, Vie</td>
      </tr>
      <tr class="table-danger">
        <td>Shar, déesse des ténèbres et de la perte</td>
        <td>NM</td>
        <td>Duperie, Mort</td>
      </tr>
      <tr class="table-success">
        <td>Sunie, déesse de l'amour et de la beauté</td>
        <td>CB</td>
        <td>Lumière, Vie</td>
      </tr>
      <tr>
        <td>Sylvanus, dieu de la nature sauvage</td>
        <td>N</td>
        <td>Nature</td>
      </tr>
      <tr class="table-danger">
        <td>Talona, déesse de la maladie et du poison</td>
        <td>CM</td>
        <td>Mort</td>
      </tr>
      <tr class="table-danger">
        <td>Talos, dieu des tempêtes</td>
        <td>CM</td>
        <td>Tempête</td>
      </tr>
      <tr>
        <td>Tempus, dieu de la guerre</td>
        <td>N</td>
        <td>Guerre</td>
      </tr>
      <tr class="table-success">
        <td>Torm, dieu du courage et du sacrifice de soi</td>
        <td>LB</td>
        <td>Guerre</td>
      </tr>
      <tr class="table-success">
        <td>Tymora, déesse de la chance</td>
        <td>CB</td>
        <td>Duperie</td>
      </tr>
      <tr class="table-success">
        <td>Tyr, dieu de la justice</td>
        <td>LB</td>
        <td>Guerre</td>
      </tr>
      <tr class="table-danger">
        <td>Umberlie, déesse des mers</td>
        <td>CM</td>
        <td>Tempête</td>
      </tr>
      <tr>
        <td>Waukyne, déesse du commerce</td>
        <td>N</td>
        <td>Duperie, Savoir</td>
      </tr>
    </tbody>
  </table>
</div>

<h1>Dieux des non-humains</h1>

<div>
  <p>
    Les races non humaines ont souvent un panthéon complet qui leur est propre.
    Par exemple, outre Moradin, le panthéon nain comprend la femme de Moradin,
    Berronar Purargent, et un certain nombre d'autres dieux qu'on pense être
    leurs enfants ou leurs petits-enfants : Abbathor, Clangeddin Barbeargent,
    Dugmaren Brilletoge, Dumathoïn, Gorm Gulthyn, Haela Brillehache, Marthammor
    Duin, Sharindlar, Thard Harr et Vergadain. En pratique, les clans et les
    royaumes nains peuvent vénérer certaines, toutes ou aucune de ces divinités,
    mais aussi vénérer certains autres dieux inconnus (ou connus sous un autre
    nom) des autres races.
  </p>
</div>
<div class="containerTable">
  <table class="table table-fixed-width">
    <thead class="thead-dark">
      <tr>
        <th>Dieu</th>
        <th>Alignement</th>
        <th>Domaines suggérés</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <td>Bahamut, dieu du Bien des dragons</td>
        <td>LB</td>
        <td>Guerre, Vie</td>
      </tr>
      <tr class="table-danger">
        <td>Blibdoolpoolp, déesse kuo-toa</td>
        <td>NM</td>
        <td>Mort</td>
      </tr>
      <tr class="table-success">
        <td>Corellon Larethian, dieu elfe de l'art et de la magie</td>
        <td>CB</td>
        <td>Lumière</td>
      </tr>
      <tr>
        <td>Eadro, dieu de la mer des hommes-poissons</td>
        <td>N</td>
        <td>Nature, Tempête</td>
      </tr>
      <tr class="table-success">
        <td>Garl Brilledor, dieu gnome de la duperie et des ruses</td>
        <td>LB</td>
        <td>Duperie</td>
      </tr>
      <tr class="table-danger">
        <td>Grolantor, dieu de la guerre des géants des collines</td>
        <td>CM</td>
        <td>Guerre</td>
      </tr>
      <tr class="table-danger">
        <td>Gruumsh, dieu orc des tempêtes et de la guerre</td>
        <td>CM</td>
        <td>Guerre, Tempête</td>
      </tr>
      <tr class="table-danger">
        <td>Hruggek, dieu gobelours de la violence</td>
        <td>CM</td>
        <td>Guerre</td>
      </tr>
      <tr class="table-danger">
        <td>Kurtulmak, dieu kobold de la guerre et des mines</td>
        <td>LM</td>
        <td>Guerre</td>
      </tr>
      <tr class="table-danger">
        <td>Laogzed, dieu troglodyte de la faim</td>
        <td>CM</td>
        <td>Mort</td>
      </tr>
      <tr class="table-danger">
        <td>Lolth, déesse drow des araignées</td>
        <td>CM</td>
        <td>Duperie</td>
      </tr>
      <tr class="table-danger">
        <td>Maglubiyet, dieu gobelin de la guerre</td>
        <td>LM</td>
        <td>Guerre</td>
      </tr>
      <tr class="table-success">
        <td>Moradin, dieu nain de la création</td>
        <td>LB</td>
        <td>Savoir</td>
      </tr>
      <tr class="table-success">
        <td>Rillifane Rallathil, dieu elfe de la nature</td>
        <td>CB</td>
        <td>Nature</td>
      </tr>
      <tr class="table-success">
        <td>Sashalas des Profondeurs, dieu elfe de la mer</td>
        <td>CB</td>
        <td>Nature, Tempête</td>
      </tr>
      <tr class="table-success">
        <td>Sehanine Archelune, déesse elfe de la lune</td>
        <td>CB</td>
        <td>Savoir</td>
      </tr>
      <tr class="table-danger">
        <td>Sekolah, dieu de la chasse des sahuagins</td>
        <td>LM</td>
        <td>Nature, Tempête</td>
      </tr>
      <tr>
        <td>Semuanya, dieu de la survie des hommes-lézards</td>
        <td>N</td>
        <td>Vie</td>
      </tr>
      <tr>
        <td>Skerrit, dieu de la nature des centaures et des satyres</td>
        <td>N</td>
        <td>Nature</td>
      </tr>
      <tr>
        <td>Skoraeus Os-de-pierre, dieu des géants des pierres et de l'art</td>
        <td>N</td>
        <td>Savoir</td>
      </tr>
      <tr class="table-danger">
        <td>Surtur, dieu des géants du feu et de l'artisanat</td>
        <td>LM</td>
        <td>Guerre, Savoir</td>
      </tr>
      <tr class="table-danger">
        <td>Thrym, dieu des géants du givre et de la force</td>
        <td>CM</td>
        <td>Guerre</td>
      </tr>
      <tr class="table-danger">
        <td>Tiamat, déesse du Mal des dragons</td>
        <td>LM</td>
        <td>Duperie</td>
      </tr>
      <tr class="table-success">
        <td>Yondalla, déesse halfeline de la fertilité et de la protection</td>
        <td>LB</td>
        <td>Vie</td>
      </tr>
    </tbody>
  </table>
</div>
