<h1>Character Builder</h1>

<div>
  <p>
    Cette application online va vous permettre de créer/générer un personnage
    pour D&D 5 de A à Z. Le programme va vous guider et vous proposer tous les
    choix possibles, de la race à l'équipement. Au final, vous aurez la
    possibilité d'imprimer votre feuille de personnage, de sauvegarder votre
    personnage en local sur votre machine pour pouvoir le reprendre et le faire
    évoluer ultérieurement, ou de sauvegarder votre feuille de personnage sur
    notre serveur.
  </p>
  <p>
    <strong>Mes personnages </strong> d'accéder à vos feuilles de personnages en
    ligne.
  </p>
  <button routerLink="/builder/race" class="btn btn-outline-primary">
    Commencer
  </button>
</div>
